@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center" style="padding-top: 80px; padding-bottom: 80px; width: 800px; margin-left: auto; margin-right: auto;" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="https://images.pexels.com/photos/6267/menu-restaurant-vintage-table.jpg?auto=compress&cs=tinysrgb&h=750&w=1260" 
                alt="Restaurante" style="height: 400px; width: 800px; margin-left: auto; margin-right: auto; 
                margin-top: auto; margin-bottom: auto;">
                <div class="carousel-caption">
                    <h3>Cadastre seu restaurante já!</h3>
                    <p>É fácil e rápido! </p>
                </div>
            </div>

            <div class="item">
                <img src="https://images.pexels.com/photos/262978/pexels-photo-262978.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" 
                alt="Prato de comida sendo servido" style="height: 400px; width: 800px; margin-left: auto; margin-right: auto; 
                margin-top: auto; margin-bottom: auto;">
                <div class="carousel-caption">
                    <h3>A forma mais prática de ter controle do seu estabelecimento</h3>
                    <p>É o que você precisa para agilizar o atendimento, e proporcionar a melhor experiência
                    ao seu cliente 
                    </p>
                </div>
            </div>

            <div class="item">
                <img src="https://images.pexels.com/photos/733856/pexels-photo-733856.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" 
                alt="New York" style="height: 400px; width: 800px; margin-left: auto; margin-right: auto; 
                margin-top: auto; margin-bottom: auto;">
                <div class="carousel-caption">
                    <h3>Todas as informações em um só lugar!</h3>
                    <p>Não perca tempo, e cadastre-se!</p>
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Próximo</span>
        </a>
    </div>
</div>