@model Produto
@{
    ViewData["Title"] = "Adicionar um novo Produto";
}


<div class="text-center">
    <h4>@if (Model.Id > 0)
        {
            @Html.Raw("Editar Produto");
        } else {
            @Html.Raw("Incluir Produto");
        }
    </h4>
</div>

<form method="POST" asp-action="Detalhe" asp-controller="Produto" class="form p-5"
    style="border: 3px solid grey; background: #E6E6E6; border-radius: 15px; margin-top: 30px;">
    <div class="text-danger">@Html.ValidationSummary()</div>

    <div class="row">
        <div class="col-md-6">
            <input asp-for="Id" type="hidden" class="form-control">
            <label for="inputNome" class="form-label">Nome</label>
            <input asp-for="Nome" type="text" class="form-control">
        </div>

        <div class="col-md-6">
            <label for="inputValorUnitario" class="form-label">Valor Unitário</label>
            <input asp-for="ValorUnitario" type="text" class="form-control">
        </div>
    </div>


    <input type="submit" value="Salvar" class="btn btn-success" 
        style="margin-top: 30px; margin-bottom: 15px;">
    <input type="button" value="Voltar" class="btn btn-success" onclick="Voltar()"
        style="margin-top: 30px; margin-bottom: 15px;"></td>
</form>

<script>
    function Voltar(){
        window.location.href = "https://localhost:5001/Produto";
    }
</script>