@model Restaurante
@{
    ViewData["Title"] = "Adicionar um novo Restaurante";
}

<div class="text-center">
    <h4>@if (Model.Id > 0)
        {
            @Html.Raw("Editar Restaurante");
        } else {
            @Html.Raw("Incluir Restaurante");
        }
    </h4>
</div>

<form method="POST" asp-action="Detalhe" asp-controller="Restaurante" class="form p-5"
    style="border: 3px solid grey; background: #E6E6E6; border-radius: 15px; margin-top: 30px;">
    <div class="text-danger">@Html.ValidationSummary()</div>

    <div class="row">
        <div class="col-md-6">
            <input asp-for="Id" type="hidden" class="form-control">
            <label for="inputNome" class="form-label">Nome</label>
            <input asp-for="Nome" type="text" class="form-control">
        </div>

        <div class="col-md-6">
            <label for="inputCnpj" class="form-label">CNPJ</label>
            <input asp-for="Cnpj" type="text" class="form-control" maxlength="14">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for="inputTelefone" class="form-label">Telefone</label>
            <input asp-for="Telefone" type="text" class="form-control">
        </div>
        <div class="col-md-6">
            <label for="inputHorarioFuncionamento" class="form-label">Horário Funcionamento</label>
            <input asp-for="HorarioFuncionamento" type="text" class="form-control">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for="inputQuantidadeMaxima" class="form-label">Quantidade Máxima</label>
            <input asp-for="QuantidadeMaxima" type="text" class="form-control">
        </div>
        <div class="col-md-6">
            <label for="inputQuantidadeMesa" class="form-label">Quantidade Mesa</label>
            <input asp-for="QuantidadeMesa" type="number" class="form-control">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for="inputLogradouro" class="form-label">Logradouro</label>
            <input asp-for="Logradouro" type="text" class="form-control" placeholder="Rua/Avenida">
        </div>
        <div class="col-md-6">
            <label for="inputNumero" class="form-label">Número</label>
            <input asp-for="Numero" type="number" class="form-control" placeholder="nº">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for="inputBairro" class="form-label">Bairro</label>
            <input asp-for="Bairro" type="text" class="form-control">
        </div>
        <div class="col-md-6">
            <label for="inputCep" class="form-label">CEP</label>
            <input asp-for="Cep" type="text" class="form-control" maxlength="9">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for="inputEstado" class="form-label">Estado</label>
            <select asp-for="Estado" class="form-control">
                <option></option>
                <option>São Paulo</option>
                <option>Rio de Janeiro</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="inputCidade" class="form-label">Cidade</label>
            <input asp-for="Cidade" type="text" class="form-control">
        </div>
    </div>
        
    <div class="row">
        <div class="col-md-6">
            <label for="inputPais" class="form-label">País</label>
            <input asp-for="Pais" type="text" class="form-control">
        </div>
    </div>

    <input type="submit" value="Salvar" class="btn btn-success" 
        style="margin-top: 30px; margin-bottom: 15px;">
    <input type="button" value="Voltar" class="btn btn-success" onclick="Voltar()"
        style="margin-top: 30px; margin-bottom: 15px;"></td>
</form>

<script>
    function Voltar(){
        window.location.href = "https://localhost:5001/Restaurante";
    }
</script>